﻿@model IEnumerable<ColegioSincoWeb.Models.ProfesorViewModel>

@{
    ViewData["Title"] = "Profesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Profesor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>¿Esta seguro que quiere eliminar al profesor?</h6>
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/img/loading.gif" style="height:200px;width:200px" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                <a href="#" class="btn btn-success" onclick="DeleteProfesor()">confirmar</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenProfesorId" />

<h1 class="text-center">Lista de Profesores</h1>
<br />
<br />
<p>
    <a class="btn btn-info" role="button" asp-action="Create">Ingresar nuevo profesor</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>

                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FechaIngreso))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning fas fa-pencil-alt" })

                    @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-book" })
                    <a href="#" class="btn btn-outline-danger fas fa-trash-alt" onclick="confirmDelete(@item.Id)"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var confirmDelete = function (Id) {
        $("#hiddenProfesorId").val(Id);
        $("#myModal").modal('show');
    }

    var DeleteProfesor = function () {
        $("#loaderDiv").show();

        var profId = $("#hiddenProfesorId").val();

        $.ajax({

            type: "POST",
            url: "/Profesor/Delete",
            data: { Id: profId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + profId).remove();
                location.reload();
            }

        })

    }

</script>
