﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Bienvenido al ColegioSincoABR</h1>
</div>
<br />
<br />
<br />
<p class="text-center">
    <a class="btn btn-info" role="button" asp-action="ListaReporteGeneral" id="btnPdf">Reporte General</a>
</p>

