﻿@model IEnumerable<ColegioSincoWeb.Models.NotaViewModel>

@{
    ViewData["Title"] = "Reporte General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Reporte General</h1>
<br />
<a class="btn btn-info" role="button" asp-action="Pdf" id="btnPdf">Generar Reporte</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Alumno
            </th>
            <th>
                Materia
            </th>
            <th>
                Profesor
            </th>
            <th>
                Periodo
            </th>
            <th>
                Nota
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateriaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateriaNavigation.IdProfesorNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>

        </tr>
}
    </tbody>
</table>
