﻿@model IEnumerable<ColegioSincoWeb.Models.MateriaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>¿Esta seguro que quiere eliminar esta materia?</h6>
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/img/loading.gif" style="height:200px;width:200px" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                <a href="#" class="btn btn-success" onclick="DeleteMateria()">confirmar</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenMateriaId" />

<h1 class="text-center">Materias</h1>
<br />
<br />
<p>
    <a class="btn btn-info" role="button" asp-action="Create">Ingresar Materias</a>
</p>
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesor)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProfesorNavigation.NombreCompleto)
                </td>
                <td>
                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning fas fa-pencil-alt" })
                    @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-book" })
                    <a href="#" class="btn btn-outline-danger fas fa-trash-alt" onclick="confirmDelete(@item.Id)"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <nav>
        <ul class="pagination"></ul>
    </nav>
</div>

<script>

    var confirmDelete = function (Id) {
        $("#hiddenMateriaId").val(Id);
        $("#myModal").modal('show');
    }

    var DeleteMateria = function () {
        $("#loaderDiv").show();

        var MatId = $("#hiddenMateriaId").val();

        $.ajax({

            type: "POST",
            url: "/Materia/Delete",
            data: { Id: MatId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + MatId).remove();
                location.reload();
            }

        })

    }

</script>
