﻿@model ColegioSincoWeb.Models.NotaViewModel

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Asignar Materia a un alumno</h1>

<h6>tenga en cuenta el ID del alunmo y el ID de la materia.</h6>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdAlumno" class="control-label"></label>
                <input asp-for="IdAlumno" class="form-control" />
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMateria" class="control-label"></label>
                <input asp-for="IdMateria" class="form-control" />
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a class="btn btn-info" role="button" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
