﻿@model ColegioSincoWeb.Models.NotaViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Asignar notas.</h1>
<h6>tenga en cuenta el ID del alunmo y el ID de la materia.</h6>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAlumno" class="control-label"></label>
                <input asp-for="IdAlumno" class="form-control">
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMateria" class="control-label"></label>
                <input asp-for="IdMateria" class="form-control" />
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" min="1" max="2" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota1" class="control-label"></label>
                <input asp-for="Nota1" class="form-control" />
                <span asp-validation-for="Nota1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promedio" class="control-label"></label>
                <input asp-for="Promedio" class="form-control" />
                <span asp-validation-for="Promedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a class="btn btn-info" role="button" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
