﻿@model IEnumerable<ColegioSincoWeb.Models.NotaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Asignación de notas</h1>
<br />
<br />
<p>
    <a class="btn btn-info" role="button" asp-action="Create">Asignar Materia</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promedio)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateriaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promedio)
            </td>
            <td>
                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning fas fa-pencil-alt" })
                @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-book" })
            </td>
        </tr>
}
    </tbody>
</table>
